<template>
  <div class="callback">
    <div class="callback__wrapper">
      <div class="title">Закажите бесплатную консультацию специалиста МТС</div>
      <form action="">
        <div class="fields">
          <input type="text" placeholder="Ваш телефон">
        </div>
        <div class="confirm" v-scroll-to="'header'" @click="requisitionOpen">Позвоните мне</div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "Callback",
  methods: {
    requisitionOpen() {
      setTimeout(() => { this.$store.commit('setRequisitionState', true) }, 500)
    }
  }
}
</script>

<style lang="scss" scoped>
.callback {
  background-color: #f7f7f7;
  position: relative;
  display: block;
}
.callback__wrapper {
  margin: 0 auto;
  padding: 3rem 40px;
  max-width: 1680px;
  min-width: 320px;
  text-align: center;
}
.title {
  font-size: 19px;
  line-height: 1.37;
  font-weight: 400;
  text-align: center;
  color: #4c4c4c;
  margin-bottom: .95rem;
}
form {
  padding: 0 10px 15px;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  text-align: center;
  margin-top: 20px;

}
.confirm, .btn {
  margin: 20px 0 0;
  display: inline-block;
  text-align: left;
  position: relative;
  font-size: 14px;
  line-height: 1;
  background: #e30613;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background .2s linear,color .2s linear,border .2s linear,box-shadow .2s linear;
  padding: 9px 20px 11px;
  height: 36px;
  vertical-align: middle;
  cursor: pointer;
  color: white;
  font-weight: 500;
  &:hover {
    background-color: #cc061a;
    color: #fff;
  }
}
.btn {
  display: none;
}
input {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  position: relative;
  background-color: #fff;
  height: 61px;
  transition: border-color .5s ease-out,background-color .5s ease-out;
  font-size: 18px;
  line-height: 1.24;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  padding: 0 12px 3px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  width: 30%;
}
input::placeholder {
  color: #b2b2b2;
  font-weight: 300;
  font-style: normal;
}
</style>

<style lang="scss" scoped>
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px) {
  .requisition__wrapper {
    min-width: 0;
  }
  input {
    width: 100%;
  }
  .btn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
  }
}
</style>
